{% extends 'blog/base.html' %}

{% block content %}
    <h1>Blog Posts</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'blog:post_create' %}" class="btn">New Post</a>
    {% endif %}
    
    {% for post in posts %}
        <article>
            <h2><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></h2>
            <p>By {{ post.author }} on {{ post.published_date }}</p>
            <p>{{ post.content|truncatewords:30 }}</p>
        </article>
    {% endfor %}
{% endblock %}
